<!--<div class="text-layout">
    <h1>{{nombre|titlecase}}</h1>
    <h1>{{valor | number}}</h1>
    <h1>{{obj|json}}</h1>

</div>
<button pButton class="p-button-help" label="Cambiar nombre" icon="pi pi-check" iconPos="right"></button>

<p-card header="Simple Card">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia id, et ad beatae distinctio culpa error quis nobis, dolorum cupiditate nisi odio velit nesciunt. Obcaecati, voluptate? Totam aliquid a omnis?
</p-card>-->


<app-menu></app-menu>
<router-outlet></router-outlet>